<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-6 mt-5 mb-5 p-5">
            <img class="img-fluid" src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" />
        </div>
        <div class="col-6 align-self-center text-center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat magni
            corrupti quae optio totam nostrum, fuga illum nihil itaque ad aperiam
            accusantium nemo et voluptatibus qui delectus maxime commodi? Velit.
        </div>
    </div>
    <div class="row">
        <div class="col-6 align-self-center text-align-right mt-5 mb-5 p-5 text-center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat magni
            corrupti quae optio totam nostrum, fuga illum nihil itaque ad aperiam
            accusantium nemo et voluptatibus qui delectus maxime commodi? Velit.
        </div>
        <div class="col-6">
            <img class="img-fluid" src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" />
        </div>
    </div>
</div>